//Instead of 'PASSWORD' add your existing password on postreSQL or the one you have for WSL
//If you are on a different port number, change that too.

# PostgreSQL connection string example
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD_HERE@localhost:5432/scattergories"
